.popup{
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    backdrop-filter: blur(10px);

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform:translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    &__content{
        width: 75%;
        height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .2);
        @include center;
        border-radius: 3px;
        display: flex;
        gap: 3rem;
        overflow: hidden;
        transform:translate(-50%, -50%) scale(0.5);
        opacity: 0;
        transition: all .3s .2s;

        @include respond(tab-port){
            width: 85%;
            display: block;
            height: 90vh;
            padding: 0 2rem 2rem 2rem;
            overflow: scroll;
            height: auto;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content:center;
        @include respond(tab-port){
            flex-direction: row;
        }
    }
    &__right{
        grid-column: span 2;
        align-self: center;
        padding-right: 3rem;
    }
    &__img{
        width: 100%;
        @include respond(tab-port){
            height: 15rem;
        }
    }
    &__text{
        font-size: $default-font-size;
        display: flex;
        hyphens: auto;
        -moz-hyphens: auto;
        @include respond(phone){
            display: block;
        }

        &--left{
            border-right: 1px solid $color-grey-dark;
            padding-right: 2rem;

            @include respond(phone){
                border-right:none;
                padding-right: 0;
            }
        }

        &--right{
            padding-left: 2rem;
            @include respond(phone){
                padding-left: 0;
            }
        }

    }

    &__close{
        &:link,
        &:visited{
        position: absolute;
        display: inline-block;
        top: 2.5rem;
        right: 2.5rem;
        text-decoration: none;
        font-size: 3rem;
        color: inherit;
        transition: all .3s;
        line-height: 1;
      }
      &:hover,
      &:active{
        color: $color-primary;
      }
    }
        
    
}
